[submodule "themes/apollo"]
	path = themes/apollo
	url = git@github.com:tanakaworld/hexo-theme-apollo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
